In [2]:
# Import the modules
import numpy as np
import pandas as pd
from pathlib import Path
from sklearn.metrics import balanced_accuracy_score, confusion_matrix, classification_report

---

## Split the Data into Training and Testing Sets

### Step 1: Read the `lending_data.csv` data from the `Resources` folder into a Pandas DataFrame.

In [3]:
# Read the CSV file from the Resources folder into a Pandas DataFrame
file_path = Path("/Users/iqraimam/Desktop/UTA-VIRT-DATA-PT-10-2022-U-LOLC/00-Homework/20-Supervised-Learning/Starter_Code/Resources/lending_data.csv")
df_lending = pd.read_csv(file_path)
# Review the DataFrame
df_lending.head()

,loan_size,interest_rate,borrower_income,debt_to_income,num_of_accounts,derogatory_marks,total_debt,loan_status
0,10700.0,7.672,52800,0.431818,5,1,22800,0
1,8400.0,6.692,43600,0.311927,3,0,13600,0
2,9000.0,6.963,46100,0.349241,3,0,16100,0
3,10700.0,7.664,52700,0.430740,5,1,22700,0
4,10800.0,7.698,53000,0.433962,5,1,23000,0

### Step 2: Create the labels set (`y`)  from the “loan_status” column, and then create the features (`X`) DataFrame from the remaining columns.

In [4]:
# Separate the data into labels and features

# Separate the y variable, the labels
y = df_lending['loan_status']

# Separate the X variable, the features
X = df_lending.drop(columns='loan_status')

In [30]:
# Review the y variable Series
y.head()

0    0
1    0
2    0
3    0
4    0
Name: loan_status, dtype: int64

In [31]:
y.tail()

77531    1
77532    1
77533    1
77534    1
77535    1
Name: loan_status, dtype: int64

In [6]:
# Review the X variable DataFrame
X.head()

,loan_size,interest_rate,borrower_income,debt_to_income,num_of_accounts,derogatory_marks,total_debt
0,10700.0,7.672,52800,0.431818,5,1,22800
1,8400.0,6.692,43600,0.311927,3,0,13600
2,9000.0,6.963,46100,0.349241,3,0,16100
3,10700.0,7.664,52700,0.430740,5,1,22700
4,10800.0,7.698,53000,0.433962,5,1,23000

In [32]:
X.tail()

,loan_size,interest_rate,borrower_income,debt_to_income,num_of_accounts,derogatory_marks,total_debt
77531,19100.0,11.261,86600,0.653580,12,2,56600
77532,17700.0,10.662,80900,0.629172,11,2,50900
77533,17600.0,10.595,80300,0.626401,11,2,50300
77534,16300.0,10.068,75300,0.601594,10,2,45300
77535,15600.0,9.742,72300,0.585062,9,2,42300

### Step 3: Check the balance of the labels variable (`y`) by using the `value_counts` function.

In [7]:
# Check the balance of our target values
y.value_counts

<bound method IndexOpsMixin.value_counts of 0        0
1        0
2        0
3        0
4        0
        ..
77531    1
77532    1
77533    1
77534    1
77535    1
Name: loan_status, Length: 77536, dtype: int64>

### Step 4: Split the data into training and testing datasets by using `train_test_split`.

In [8]:
# Import the train_test_learn module
from sklearn.model_selection import train_test_split

# Split the data using train_test_split
# Assign a random_state of 1 to the function
X_train, X_test, y_train, y_test = train_test_split(X, 
                                                    y, 
                                                    random_state=1, 
                                                    stratify=y)

---

## Create a Logistic Regression Model with the Original Data

###  Step 1: Fit a logistic regression model by using the training data (`X_train` and `y_train`).

In [9]:
# Import the LogisticRegression module from SKLearn
from sklearn.linear_model import LogisticRegression

# Instantiate the Logistic Regression model
# Assign a random_state parameter of 1 to the model
classifier = LogisticRegression(solver='lbfgs', random_state=1)
classifier

# Fit the model using training data
classifier.fit(X_train, y_train)

LogisticRegression(random_state=1)

### Step 2: Save the predictions on the testing data labels by using the testing feature data (`X_test`) and the fitted model.

In [33]:
# Make a prediction using the testing data
predictions = classifier.predict(X_test)

### Step 3: Evaluate the model’s performance by doing the following:

* Calculate the accuracy score of the model.

* Generate a confusion matrix.

* Print the classification report.

In [34]:
# Print the balanced_accuracy score of the model
from sklearn.metrics import accuracy_score
accuracy_score(y_test, predictions)

0.9952022286421791

In [35]:
# Generate a confusion matrix for the model
from sklearn.metrics import confusion_matrix
logreg_model = confusion_matrix(y_test, predictions)

lr_model = pd.DataFrame(logreg_model, 
                        index = ['Actual Healthy Loans (low-risk)', 
                                'Actual Non-Healthy Loans (high-risk)'], 
                                columns = ['Predicted Healthy Loans (low-risk)', 'Predicted Non-Healthy Loans (high-risk)']
                              )

lr_model

,Predicted Healthy Loans (low-risk),Predicted Non-Healthy Loans (high-risk)
Actual Healthy Loans (low-risk),18668,91
Actual Non-Healthy Loans (high-risk),2,623

In [13]:
# Print the classification report for the model
testing_report = classification_report(y_test, predictions)

# Print the testing classification report
print(testing_report)

              precision    recall  f1-score   support

           0       1.00      1.00      1.00     18759
           1       0.87      0.89      0.88       625

    accuracy                           0.99     19384
   macro avg       0.94      0.94      0.94     19384
weighted avg       0.99      0.99      0.99     19384

### Step 4: Answer the following question.

**Question:** How well does the logistic regression model predict both the `0` (healthy loan) and `1` (high-risk loan) labels?

**Answer:** 
--The logistic regression model predits the 0 and 1 labels pretty well, with a high accurary pf over 99%, but this data is currently imbalanced. The number of healthy (low-risk) loans are much higher than the non-healthy loans, showing that the model would be able to predict the loan as healthy more than unhealthy.

--According to the classification report, the model predicted the healthy loans [0] 100% of the time, and unhealthy loans [1], 87% of the time.

---

## Predict a Logistic Regression Model with Resampled Training Data

### Step 1: Use the `RandomOverSampler` module from the imbalanced-learn library to resample the data. Be sure to confirm that the labels have an equal number of data points.

In [16]:
%pip install imbalanced-learn

Collecting imbalanced-learn
  Downloading imbalanced_learn-0.10.1-py3-none-any.whl (226 kB)
     |████████████████████████████████| 226 kB 1.8 MB/s eta 0:00:01
Requirement already satisfied: threadpoolctl>=2.0.0 in /Users/iqraimam/opt/anaconda3/envs/PythonData/lib/python3.7/site-packages (from imbalanced-learn) (3.1.0)
Requirement already satisfied: scipy>=1.3.2 in /Users/iqraimam/opt/anaconda3/envs/PythonData/lib/python3.7/site-packages (from imbalanced-learn) (1.4.1)
Requirement already satisfied: scikit-learn>=1.0.2 in /Users/iqraimam/opt/anaconda3/envs/PythonData/lib/python3.7/site-packages (from imbalanced-learn) (1.0.2)
Requirement already satisfied: joblib>=1.1.1 in /Users/iqraimam/opt/anaconda3/envs/PythonData/lib/python3.7/site-packages (from imbalanced-learn) (1.2.0)
Requirement already satisfied: numpy>=1.17.3 in /Users/iqraimam/opt/anaconda3/envs/PythonData/lib/python3.7/site-packages (from imbalanced-learn) (1.18.1)
Installing collected packages: imbalanced-learn
Successfully installed imbalanced-learn-0.10.1
Note: you may need to restart the kernel to use updated packages.

In [20]:
# Import the RandomOverSampler module form imbalanced-learn
from imblearn.over_sampling import RandomOverSampler

# Instantiate the random oversampler model
# # Assign a random_state parameter of 1 to the model
ros = RandomOverSampler(random_state=1)
# Fit the original training data to the random_oversampler model
X_res, y_res = ros.fit_resample(X_train, y_train)

In [22]:
from collections import Counter

In [23]:
# Count the distinct values of the resampled labels data
print('Resampled dataset shape %s' % Counter(y_res))

Resampled dataset shape Counter({0: 56277, 1: 56277})

### Step 2: Use the `LogisticRegression` classifier and the resampled data to fit the model and make predictions.

In [40]:
# Instantiate the Logistic Regression model
# Assign a random_state parameter of 1 to the model
os_classifier = LogisticRegression(random_state=1)
os_classifier


# Fit the model using the resampled training data
os_classifier.fit(X_res, y_res)

# Make a prediction using the testing data
os_predictions = os_classifier.predict(X_test)

### Step 3: Evaluate the model’s performance by doing the following:

* Calculate the accuracy score of the model.

* Generate a confusion matrix.

* Print the classification report.

In [41]:
# Print the balanced_accuracy score of the model 
balanced_accuracy = accuracy_score(y_test, os_predictions)
balanced_accuracy

0.9952022286421791

In [38]:
# Generate a confusion matrix for the model
oversampled = confusion_matrix(y_test, os_predictions)

oversampled_df = pd.DataFrame(oversampled, 
                                index = ['Actual Healthy Loans (low-risk)', 
                                'Actual Non-Healthy Loans (high-risk)'], 
                                columns = ['Predicted Healthy Loans (low-risk)', 'Predicted Non-Healthy Loans (high-risk)']
                              )
oversampled_df

,Predicted Healthy Loans (low-risk),Predicted Non-Healthy Loans (high-risk)
Actual Healthy Loans (low-risk),18668,91
Actual Non-Healthy Loans (high-risk),2,623

In [39]:
# Print the classification report for the model
class_report = classification_report(y_test, os_predictions)
class_report

'              precision    recall  f1-score   support\n\n           0       1.00      1.00      1.00     18759\n           1       0.87      1.00      0.93       625\n\n    accuracy                           1.00     19384\n   macro avg       0.94      1.00      0.96     19384\nweighted avg       1.00      1.00      1.00     19384\n'

### Step 4: Answer the following question

**Question:** How well does the logistic regression model, fit with oversampled data, predict both the `0` (healthy loan) and `1` (high-risk loan) labels?

**Answer:** Based on the new oversampled data, there were no major changes, and the precision remains the same as the previous section.